 





body {font-family: Helvetica Neue, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  
  padding: 14px 40px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius:12px 12px 12px 12px;
  box-sizing: border-box;
}
/*picture */

.avatar{
     width: 7.5%;
   height: 2.5% ;
   border-radius: 50%;
   position: above;
   margin-top: -40px;
   }


/* Set a style for all buttons */
.button5 {
   color: white;
   margin: 8px 0;
   cursor: pointer;
   background-color:#5160b4;
   display:block;
   margin:20px 0px 18px;
   text-align:center;
   border-radius:12px;
   padding:11px 50px;
   outline:none;
   color:white;
   transition:0.25s;
   font-size:14px;
   font-weight: bold;
}

.a1{
	text-decoration:none;
	color:rgb(56, 56, 128);
}

.button5:hover {
  background-color :rgb(56, 56, 128);
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
  transform: scale(1.06);

}

.text{
	margin-right :170px;
}
.container {
  padding: 16px;
}
span.psw {
 
  padding-top: 2px;
}



.sign{
	 width: 300px;
	height: 50px;
	background-color:rgb(0,0,0,.6);
   margin:auto;
   color:#FFFFFF;
   padding:10x 10px 10px 10px;
   border-radius:12px 12px 12px 12px;
   
 }



.Login{
   width: 550px;
	height: 900px;
	background-color:rgb(0,0,0,.6);
   margin:auto;
   color:#FFFFFF;
   padding:10x 10px 10px 0px;
   border-radius:12px 12px 12px 12px;

  }



input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


 /*picture */
.avatar{
     width: 5%;
   height: 2.5%;
   border-radius: 50%;
   position: above;
   margin-top: -30px;
   }

 body {
  background: #d5eaf2;
  font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
  
}    
.label1{
	font-size:20px;
	color: black;
}




